---
import { Picture } from 'astro:assets';
import img from '~/assets/mountains-8314422.svg';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
---

<MarkdownLayout title="About" description="About this site." currentNav="About">
	<Picture
		class="lg:float-right lg:ml-4 lg:w-2/5"
		src={img}
		formats={['avif', 'webp']}
		alt="mountains"
	/>
	<p>
		actually, nothing much about me, just a shibe trying to find back who I really am.
	</p>
	<p>
		there is a phrase made me think a lot: "quiet life, or a blaze of glory?"
	</p>
	<p>
		imma step into number 22 soon, i want something i can remember, not a shack of shit i used to bear through day
	</p>
</MarkdownLayout>
