---
import { Picture } from 'astro:assets';
import img from '~/assets/undraw_dog_c7i6.svg';
import { SiteDescription, SiteTitle } from '~/config';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
---

<MarkdownLayout
	title={SiteTitle}
	description={SiteDescription}
	hide={['title', 'comments']}
	currentNav="Home"
>
	<div class="flex flex-col items-center gap-4 xl:flex-row">
		<Picture class="lg:max-w-md" src={img} formats={['avif', 'webp']} alt="a dog" loading="eager" />
		<div>
			<h1>Helu! Welcome to the doggo den. I'm Kaze, some wandering yellow shibe-dragon👋</h1>
			<p>
				The name is Kaze Hishou. But go by Kaz or Shou is your choices.
			</p>
            <p>
                this site exist for me to write something I don't want to put on facebook or twitter, mostly yapping, dont worry about it
            </p>
            <p>
                thank anyway, for stopping by, reading something here. have a gud day too :3.
            </p>
		</div>
	</div>
</MarkdownLayout>
