---
import { FooterDescription, Hide } from '~/config';
---

<footer class="mt-6 px-4 text-center text-sm lg:mt-8" transition:persist>
	{!Hide.includes('footerDescription') && (
		<p class="mb-2 text-[#4f79ad] dark:text-neutral-400">{FooterDescription}</p>
	)}
	<p class="text-[#4f79ad] opacity-80 dark:text-neutral-400">
		&copy; {new Date().getFullYear()} OUS production. Powered by <a
			class="underline"
			href="https://kazeous.com"
			target="_blank"
			rel="noopener"
			aria-label="Get to my main web here">Kazeous</a
		>. <a
			class="underline"
			href="https://blog.kazeous.com/posts/artwork-credits"
			target="_blank"
			rel="noopener"
			aria-label="Artwork Credits page">Artwork Credits</a
		>.
	</p>
</footer>
